
::-webkit-scrollbar {
    display: none;
  }


#myAlert{
  position: absolute;
    z-index: 2;
    display: none;
    min-width: 70%;
    left: 15%;
}

.artist{
    max-height: 500px;
    overflow-y: scroll;
}
main{
    margin-top: 6%;
    margin-bottom: 6%;
}

   img.shadow-lg {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  }
  img{
    max-height: 200px;
  }

  .divider {
    width: 2px;
    height: 200px;
    background: linear-gradient(180deg, #ffffff, #6c757d);
  }


  .btn {
    transition: background-color 0.3s ease, transform 0.3s ease;
  }

  .btn:hover {
    transform: translateY(+5px);
  }


  p:hover {
    color: #adb5bd;
  }

  .card:hover {
    background:  #883a3a;
  }

  #forgot{
    display: none;
  }

  main{
    min-height: 200px;
  }

